<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codej.springbootinit.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.codej.springbootinit.model.entity.goods.Goods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="rating" column="rating" jdbcType="FLOAT"/>
            <result property="saleCount" column="sale_count" jdbcType="INTEGER"/>
            <result property="reviewCount" column="review_count" jdbcType="INTEGER"/>
            <result property="minPrice" column="min_price" jdbcType="DECIMAL"/>
            <result property="minOprice" column="min_oprice" jdbcType="DECIMAL"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="minStock" column="min_stock" jdbcType="INTEGER"/>
            <result property="ischeck" column="ischeck" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="stockDisplay" column="stock_display" jdbcType="TINYINT"/>
            <result property="expressId" column="express_id" jdbcType="INTEGER"/>
            <result property="skuType" column="sku_type" jdbcType="TINYINT"/>
            <result property="skuValue" column="sku_value" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="discount" column="discount" jdbcType="FLOAT"/>
            <result property="createTime" column="create_time" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
            <result property="deleteTime" column="delete_time" jdbcType="INTEGER"/>
            <result property="orders" column="orders" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,category_id,
        cover,rating,sale_count,
        review_count,min_price,min_oprice,
        description,unit,stock,
        min_stock,ischeck,status,
        stock_display,express_id,sku_type,
        sku_value,content,discount,
        create_time,update_time,delete_time,
        orders
    </sql>

    <!-- 批量更新商品类别 -->
    <update id="updateBatchById">
        UPDATE goods
        SET category_id = #{category_id}
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>
